<p>This component demonstrates fetching data from the server.</p>

<!-- File Upload Section -->
<div>
  <mat-form-field appearance="outline" style="width:50%">
    <mat-label>Choose file</mat-label>
    <input matInput type="text" [value]="selectedFileName" placeholder="No file selected" readonly>
    <input type="file"
           id="file"
           (change)="onFileSelected($event)"
           hidden #fileInput />
    <button mat-button matSuffix type="button" (click)="fileInput.click()">Browse</button>
  </mat-form-field>
  <br />
  <button mat-flat-button color="primary" (click)="uploadFile()" [disabled]="!selectedFile || isUploading">Upload file</button>
</div>
