<div>
  <mat-form-field appearance="outline" style="width:50%">
    <mat-label>Choose file</mat-label>
    <input matInput type="text" [value]="selectedFileName" placeholder="No file selected" readonly>
    <input type="file"
           id="file"
           (change)="onFileSelected($event)"
           hidden #fileInput />
    <button mat-button matSuffix type="button" (click)="fileInput.click()">Browse</button>
  </mat-form-field>
  <br />
  <button mat-flat-button color="primary" (click)="uploadFile()" [disabled]="!selectedFile || isUploading">Upload file</button>

  <mat-progress-bar *ngIf="isUploading"
                    mode="determinate"
                    [value]="uploadProgress"
                    style="margin-top: 16px;">
  </mat-progress-bar>
  <div *ngIf="isUploading" style="margin-top: 8px;">
    {{uploadedMB}} MB / {{totalMB}} MB ({{uploadProgress}}%)
  </div>
  <p *ngIf="uploadedFileInfo"
     [ngStyle]="{'color': uploadSuccess === true ? 'green' : (uploadSuccess === false ? 'red' : 'inherit')}">
    {{ uploadedFileInfo }}
  </p>
</div>
