:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-track-height: 24px;
  --mdc-linear-progress-active-indicator-height: 24px;
}
